# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
debug.log
error.log

# Environment variables
.env

# Sistema
.DS_Store
Thumbs.db

# Archivos de construcción
dist/
build/

# Archivos temporales
.tmp/
.cache/

# Configuración de IDEs
.vscode/
.idea/
